<!-- <p>navbar works!</p> -->
<nav>
<div class="nav-wrapper">
    <a href="#" class="brand-logo">Logo</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
    <!-- Sesion -->
    <li *ngIf="!activeSession"><a routerLink="/seguridad/login">Login</a></li>
    <li *ngIf="!activeSession"><a routerLink="/admin/create">Registrarse</a></li>

    <li *ngIf="activeSession"><a routerLink="/admin/get">Administrador</a></li>
    <li *ngIf="activeSession"><a routerLink="/estaciones/get">Estaciones</a></li>
    <li *ngIf="activeSession"><a routerLink="/seguridad/logout">Cerrar Sesion</a></li>
    </ul>
</div>
</nav>