<div class="container">
    <h3 class="center-align">Editar Ruta</h3>
    <form [formGroup]="fgValidacion" class="col s12" (ngSubmit)="edit()">
        <input formControlName="id" type="hidden" class="validate">
        <div class="row">
        <div class="input-field col s6">
            <input formControlName="tiempo_estimado" type="number" class="validate">
            <label class="active" for="tiempo_estimado">Tiempo Estimado</label>
        </div>
        </div>
        <!-- <div class="row"> -->
        <!-- <div class="input-field col s6">
            <input formControlName="origen" type="text" class="validate">
            <label class="active" for="origen">Origen</label>
        </div> -->
        <div class="row">
        <div class="input-field col s6">
        <label class="active" for="origen">Origen</label>
        <select class="browser-default" formControlName="origen" >
            <option value="" disabled selected>Seleccione la ruta</option>
            <option *ngFor="let ruta of listadoRutas" value="{{ruta.origen}}">{{ruta.origen}}</option>
        </select>
        </div>
        <div class="input-field col s6">
            <label class="active" for="destino">Destino</label>
            <select class="browser-default" formControlName="destino" >
                <option value="" disabled selected>Seleccione la ruta</option>
                <option *ngFor="let ruta of listadoRutas" value="{{ruta.destino}}">{{ruta.destino}}</option>
            </select>
        </div>
        </div>
        <!-- <div class="row">
        <div class="input-field col s6">
            <input formControlName="destino" type="text" class="validate">
            <label class="active" for="destino">Destino</label>
        </div>
        </div> -->
        <div class="row center-align">
        <button [disabled]="!fgValidacion.valid" class="btn waves-effect waves-light" type="submit" name="action">Enviar
            <i class="material-icons right">send</i>
        </button>
        </div>
    </form>
</div>
