<div class="container">
<br>
<a routerLink="/admin/create" class="btn">Registrar Persona</a>

<table class="table responsive">
<thead>
    <tr>
        <th>Nombre</th>
        <th>Apellidos</th>
        <th>Correo</th>
        <th>Telefono</th>
        <th>Acciones</th>
    </tr>
</thead>

<tbody>
    <tr *ngFor="let p of listado">
    <td>{{p.nombre}}</td>
    <td>{{p.apellidos}}</td>
    <td>{{p.correo}}</td>
    <td>{{p.telefono}}</td>
    <td>
        <a routerLink="/admin/edit/{{p.id}}" class="btn">Editar</a>
        <button class="btn red" (click)="delete(p.id)">Eliminar</button>
    </td>
    </tr>
</tbody>
</table>
</div>
